{% extends 'base.html' %} {% block content %}
<div class="detail__img">
  <img src="{{dog.img}}" alt="{{dog.name}}" />
</div>
<div class="detail__name">
  {% if dog.verified_doggo %}
  <div class="icon-text">
    <span class="icon has-text-info">
      <i class="fas fa-check-circle"></i>
    </span>
    <span>Verified</span>
  </div>
  {% endif %}
  <h1 class="title">{{dog.name}}</h1>
</div>
<div class="detail__container">
  <div class="buttons">
    <a href="{% url 'dog_update' dog.pk %}" class="button is-info">
      <span class="icon">
        <i class="fas fa-edit"></i>
      </span>
    </a>
    <a href="{% url 'dog_delete' dog.pk %}" class="button is-danger">
      <span class="icon">
        <i class="fas fa-trash-alt"></i>
      </span>
    </a>
  </div>
  <div class="detail__collars mb-5">
    <h3 class="title is-3">Collars</h3>
    <form class="mb-5" action="{% url 'collar_create' dog.pk %}" method="post">
      {% csrf_token %}
      <div class="field has-addons">
        <div class="control">
          <input
            class="input"
            type="text"
            name="color"
            placeholder="Color"
            required
          />
        </div>
        <div class="control">
          <input
            class="input"
            type="text"
            name="brand"
            placeholder="Brand"
            required
          />
        </div>
        <div class="control">
          <input
            class="input"
            type="number"
            name="length"
            placeholder="Length in Inches"
            min="1"
            required
          />
        </div>
        <div class="control">
          <input class="button is-primary" type="submit" value="Add Collar" />
        </div>
      </div>
    </form>
    {% for collar in dog.collars.all %}
    <div class="collar">
      <span>{{forloop.counter}}</span>
      <span><b>{{collar.color}}</b></span>
      <span><b>{{collar.brand}}</b></span>
      <span>{{collar.length}} Inches</span>
    </div>
		{% empty %}
    <article class="message">
      <div class="message-header">
        <p>No Collars Available</p>
      </div>
    </article>

    {% endfor %}
  </div>
  <div class="detail__about">
    <h4 class="title is-4">About</h4>
    <p>{{dog.bio}}</p>
    <span>
      <div class="dropdown">
        <div class="dropdown-trigger">
          <button
            class="button"
            aria-haspopup="true"
            aria-controls="dropdown-menu"
          >
            <span>Add a Dog Walker</span>
            <span class="icon is-small">
              <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
          </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu" role="menu">
          <div class="dropdown-content">
            {% for walker in walkers %}
            <a
              href="{% url 'walker_dog_assoc' walker.pk dog.pk %}?assoc=add"
              class="dropdown-item"
            >
              {{walker.name}}
            </a>
            {% endfor %}
          </div>
        </div>
      </div>
    </span>

  </div>
</div>

{% endblock %}